body{
    background-image: url(images/background.png);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f0edf2;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    font: normal normal normal 50px Arial,sans-serif;
}

::-moz-selection{
    background-color:Transparent;
    color:#fff;
    }

::selection {
    background-color:Transparent;
    color:#fff;
    }

@font-face {
    font-family: "BN-titling-oblique";
    src: url(fonts/big-noodle-titling-oblique.ttf) format("truetype");
}

@font-face {
    font-family: "BN-titling";
    src: url(fonts/big-noodle-titling.ttf) format("truetype");
}

#users-connected{
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
}

#users-connected-text{
	margin: 0px;
	font-size: 35px;
	font-family: "BN-titling", Fallback, sans-serif;
}

#users-connected-update{

}

#loading-screen{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: black;
    overflow: hidden;
}

#navigation{
    display: block;
    margin:auto;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.50);
}

.nav-item, .nav-slash{
    display: inline-block;
    font-size: 50px;
    color: #000;
    font-family: "BN-titling";
    list-style-type: none;
}

#nav-item1{
    
}

#nav-item2{
    background-color: rgba(255, 255, 255, 0.50);
}

.nav-item{
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    margin: 7px;
    font-family: "BN-titling";
    list-style-type: none;
    cursor: pointer;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.50) !important;
    cursor: pointer;
}

.nav-item:active {
    background-color: rgba(0, 0, 0, 0.50) !important;
    color: #fff;
}

.nav-item::-moz-selection,
.nav-item::selection{
    background-color:Transparent;
    color:#000;
}


.control-wrapper::-moz-selection,
.control-wrapper::selection{
	background-color:Transparent;
    color:#fff;
}

.control-wrapper {
    display: block;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: auto;
    max-width: 300px;
    height: auto;
}

.buttons {
    display: inline-block;
    margin: auto;
    padding: 20px;
    width: 30%;
    max-width: 50px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.49);
    border-radius: 100%;
}

.buttons:hover {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.buttons:active {
    background-color: rgba(255, 255, 255, 1);
}

.button-text{
	font-family: "BN-titling", Fallback, sans-serif;
	font-size: 50px;
	color: #fff;
	margin: 0;
	pointer-events: none;
}

.numpad{
    margin: 0;
    padding: 0;
}

@media (max-width: 365px) {
  .nav-item, .nav-slash{
    font-size: 40px;
}

@media (max-width: 337px) {
  .buttons{
    padding: 10px;
    width: 17%;
}

@media (max-width: 298px) {
  .nav-item, .nav-slash{
    font-size: 35px;
  }
}

@media (max-width: 270px) {
  .nav-item, .nav-slash{
    font-size: 30px;
  }
  #button-power{
    font-size: 19px;
  }
  #button-guide, #button-enter{
    font-size: 20px;
  }

}